{% extends 'base.html' %}
{% block title %}Repair Tracker/ Equipment{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Equipment</h1>
      <p>
        Listed Equipment for {{client.name}}
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h2>Equipment List</h2>
      <a href="/">Home</a>
      <a href="/addequipment">Add Equipment</a>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Equipment</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for equipment in equipment %}
          <tr>
            <td><a href="/repairs/{{equipment.id}}">{{ equipment.name }}</td>
            <td>{{ equipment.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
```