{% extends "base.html" %}

{% block title %}Repair Tracker/ Home{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Home</h1>
      <p>
        Lorem ips
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h2>Client List</h2>
      <a href="/addclient">Add a Client</a>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Client</th>
            <th>Address</th>
            <th>Phone</th>           
          </tr>
        </thead>
        <tbody>
          {% for client in clients %}
          <tr>
            <td><a href="clientequipment/{{client.id}}">{{client.name}}</a></td>
            <td>{{ client.address }}</td>
            <td>{{ client.phone }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!--Last 10 Repairs-->
    <div class="col-md-12">
      <h2>Last 10 Repairs, All Clients</h2>      
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Client</th>
            <th>Equipment </th>
            <th>Repair</th>           
          </tr>
        </thead>
        <tbody>
          {% for item in repairs %}
          <tr>
            <td>{{item.equipment.client.name}}</td>
            <td>{{ item.equipment.name }}</td>
            <td>{{ item.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}